html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
   font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
    --dbz-orange: #FF6A00; /* Laranja vibrante principal (Fundo de botões, destaques) */
  --dbz-blue: #0E255C;   /* Azul escuro intenso (Cabeçalhos, rodapé ou fundo secundário) */
  --dbz-gold: #FFD700;   /* Dourado Super Saiyajin (Efeitos de hover, bordas) */
  --dbz-red: #E32021;    /* Vermelho das estrelas das Esferas (Avisos ou ícones) */
  --bg-dark: #121212;    /* Fundo escuro para a página (faz as cores acima saltarem aos olhos) */
  --text-light: #F4F4F4; /* Cor do texto no fundo escuro */
  --bg-lightblue: #057DCD; /* Azul claro para detalhes ou fundos alternativos */
  --text-border: 
    -4px -4px 0 var(--dbz-blue),  
     0   -4px 0 var(--dbz-blue),
     4px -4px 0 var(--dbz-blue),
     4px  0   0 var(--dbz-blue),
     4px  4px 0 var(--dbz-blue),
     0    4px 0 var(--dbz-blue),
    -4px  4px 0 var(--dbz-blue),
    -4px  0   0 var(--dbz-blue);
}

@font-face {
    font-family: 'Saiyan-sans';
    src: url('../assets/fonts/Saiyan-Sans.ttf') format('truetype');
    font-weight: normal;
  font-style: normal;
}


.montserrat-normal {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dbz-font {
    font-family: 'Saiyan-sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Saiyan-sans', sans-serif;
}

p, button {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-light);
      }